<?xml version="1.0" encoding="UTF-8" ?>

<!--
	Powered by Incredibox
	Incredibox © So Far So Good
	http://www.sofarsogood.fr
	http://www.incredibox.com
-->

<!-- This is a fan recreation of a lost version called "v1 remastered" released in 2018 -->
<!-- And of course, all of this was made by Alottu :) -->

<root>

	<appInfo>
		<name>Amogus</name>
		<version>21</version>
		<annee>2025</annee>
		<duree>6.857</duree>
		<frame>328</frame>
		<bonusloopA>true</bonusloopA>
		<volencode>0.8</volencode>  <!-- I dont even know what is this -->
	</appInfo>

<!-- Updated Pictos -->

	<musique>

		<son picto="picto0" posPicto="40,80">
			<swf>costume-v1/1_joshua-v2.swf</swf>
			<mp3>sound-v1/1_joshua_a.mp3</mp3>
                        <mp3>sound-v1/1_joshua_b.mp3</mp3>
		</son>
		<son picto="picto1" posPicto="40,80">
			<swf>costume-v1/2_jake-v2.swf</swf>
			<mp3>sound-v1/2_jake_a.mp3</mp3>
                        <mp3>sound-v1/2_jake_b.mp3</mp3>
		</son>
		<son picto="picto2" posPicto="40,80">
			<swf>costume-v1/3_joe.swf</swf>
			<mp3>sound-v1/3_joe_a.mp3</mp3>
                        <mp3>sound-v1/3_joe_b.mp3</mp3>
		</son>
		<son picto="picto3" posPicto="40,80">
			<swf>costume-v1/4_david.swf</swf>
			<mp3>sound-v1/4_david_a.mp3</mp3>
		</son>
		<son picto="picto4" posPicto="40,80">
			<swf>costume-v1/5_james.swf</swf>
			<mp3>sound-v1/5_james_a.mp3</mp3>
		</son>


		<son picto="picto5" posPicto="40,80">
			<swf>costume-v1/6_apk-v2.swf</swf>
			<mp3>sound-v1/6_apk_a.mp3</mp3>
		</son>
		<son picto="picto6" posPicto="40,80">
			<swf>costume-v1/7_reciever.swf</swf>
			<mp3>sound-v1/7_reciever_a.mp3</mp3>
		</son>
		<son picto="picto7" posPicto="40,80">
			<swf>costume-v1/8_observer.swf</swf>
			<mp3>sound-v1/8_observer_a.mp3</mp3>
			<mp3>sound-v1/8_observer_b.mp3</mp3>
		</son>
		<son picto="picto8" posPicto="40,80">
			<swf>costume-v1/0_wip.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto9" posPicto="40,80">
			<swf>costume-v1/10_steven.swf</swf>
			<mp3>sound-v1/10_steven_a.mp3</mp3>
                        <mp3>sound-v1/10_steven_b.mp3</mp3>
		</son>


		<son picto="picto10" posPicto="40,80">
			<swf>costume-v1/11_red-mungus.swf</swf>
			<mp3>sound-v1/11_red-mungus_a.mp3</mp3>
		</son>
		<son picto="picto11" posPicto="40,80">
			<swf>costume-v1/0_wip.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto12" posPicto="40,80">
			<swf>costume-v1/13_headband.swf</swf>
			<mp3>sound-v1/13_headband_a.mp3</mp3>
			<mp3>sound-v1/13_headband_b.mp3</mp3>
		</son>
		<son picto="picto13" posPicto="40,80">
			<swf>costume-v1/0_wip.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto14" posPicto="40,80">
			<swf>costume-v1/0_wip.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>


		<son picto="picto15" posPicto="40,80">
			<swf>costume-v1/0_wip.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto16" posPicto="40,80">
			<swf>costume-v1/0_wip.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto17" posPicto="40,80">
			<swf>costume-v1/0_wip.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto18" posPicto="40,80">
			<swf>costume-v1/0_wip.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>
		<son picto="picto19" posPicto="40,80">
			<swf>costume-v1/0_wip.swf</swf>
			<mp3>sound-v1/0_placeholder_a.mp3</mp3>
		</son>

<!-- AS THE BONUSES SWF'S ARE LOST, THERE WILL BE NO BONUSES -->

		<sonBonus picto="bonus0">
			<mp3>sound-v1/bonus/aspire.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus1">
			<mp3>sound-v1/bonus/lill-child.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus2">
			<mp3>sound-v1/bonus/wall-dance.mp3</mp3>
		</sonBonus>
		<sonBonus picto="bonus3">
			<mp3>sound-v1/bonus/sunrise.mp3</mp3>
		</sonBonus>

	</musique>

	<pathBonus loop="4">
		<swf code="1,3,9,13,15" visible="0" name="Lill child">bonus-v1/lill-child.swf</swf>
		<swf code="1,4,2,5,13" visible="0" name="Dance">bonus-v1/wall-dance.swf</swf>
		<swf code="5,10,12,15,17" visible="0" name="Sunrise">bonus-v1/sunrise.swf</swf>
	</pathBonus>

	<pathPicto>
		<swf>picto-v1.swf</swf>  <!-- THIS WILL BE UPDATED SOON -->
	</pathPicto>

	<pathIntro>
		<swf>intro-v1.swf</swf>  <!-- THIS WILL BE HARD TO UPDATE -->
	</pathIntro>

	<pathLogo>
		<swf>logo-v1.swf</swf>  <!-- UNCENTERED FIX SOON -->
	</pathLogo>

</root>
